
#Untracked files:

project/*.cache
project/*.hw
project/*.ip_user_files
project/*.runs
project/*.sim
project/*.srcs
project/*.xpr
project/*.jou
project/*.log
project/*.txt
source/rtl/xil_and_3rds_ip/*

